@using Mama_Food.Models;
@model LogIn
@{
    ViewData["Title"] = "LogIn";
}
 <h2>Login</h2>
<form method="post" action="Login.aspx">
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

