@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
</html>
<html>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section class="one">
            <h2>Our Story</h2>
            <p>We are a site that was created on June 10, 2023.</p>
        </section>
        <section class="two">
            <h2>Our Mission</h2>
            <p>We are a website that aims to help people choose the right home-cooked meals for them and select the best places that offer these meals, as well as providing the best ways to communicate with them.</p>.</p>
        </section>
        <section class="three">
            <h2>Our Services</h2>
            <p>We provide you with the easiest ways to get home-cooked meals and we are currently working on providing a delivery service to homes in collaboration with the Talabat website.</p>
        </section>
        <section class="four">
            <h2>Our Team</h2>
            <p>OUR TEAM MEMBERS: <br> mohamed naser ali <br> ahmed abd_alhamed showky <br> abd_alkareem hamtoo hamdan <br> salah omer <br> yasser ramdan mohamed <br> mohamed talaat kamel </p>
        </section>
        <section class="five">
            <h2>Contact Us</h2>
            <a href="https://google.com" target="_blank" title="Go to google">google</a>
            <a href="https://wa.me/qr/CW2CUIXAUNB5P1 " target="_blank" title="Go to our whatapp">whatapp</a>
            <a href="https://www.facebook.com/profile.php?id=100089834513093&mibextid=ZbWKwL" t target="_blank" title="Go to clint page">facebook</a>
            <a href="mailto:Mt0223317@gmail.com" target="_blank" title="Go to our e_mail">mail us</a>


        </section>
    </main>
    <footer>
        <p>&copy; Mama food 2023</p>
    </footer>
</body>
</html>

